<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="https://cdn.jsdelivr.net/npm/vega@5.21.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.20.2"></script>

    <link rel="stylesheet" href="../static/css/style1.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    </style>

    <title>Hello, world!</title>
  </head>
  <body>

    <div class="w3-bar w3-theme-d2 w3-left-align">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
      <a href="#" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>HOME</a>
      <a href="https://t6kuruvilla.github.io/tkuruvillaucb2021/theresa/history" class="w3-bar-item w3-button w3-hide-small w3-hover-white">History</a>
      <a href="https://t6kuruvilla.github.io/tkuruvillaucb2021/carlosM/index.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">World Cup and FIFA Ranking</a>
      <a href="https://t6kuruvilla.github.io/tkuruvillaucb2021/carlosortiz/penaltycorner.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">The Penalty Shootout Corner</a>
      <a href="https://t6kuruvilla.github.io/tkuruvillaucb2021/chris/wc_2018.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">World Cup 2018 - Deep Dive</a>
      <a href="https://t6kuruvilla.github.io/tkuruvillaucb2021/theresa/qatar2022" class="w3-bar-item w3-button w3-hide-small w3-hover-white">World Cup 2022</a>
      <a href="https://t6kuruvilla.github.io/tkuruvillaucb2021/about_us.html" class="w3-bar-item w3-button w3-hide-small w3-hover-white">About Us</a>
      </div>
      </div>
    </br>

    <div class="navbar">
      <a href="../index.html">Main</a>
      <a href="../templates/indexwc1.html">Confederation Performance</a>
      <a href="../templates/indexfifawc.html">FiFA Ranking &   WC Performance</a>
      <a href="../templates/barrace.html">Race to the Top</a>
      <a href="../templates/indexscroll.html">Brief World Cup History</a>
      <!-- <a href="../../index.html" class="right">Home</a> -->
      <!-- <a href="../../index.html" class="right">Home</a> -->
  </div>
   
   <div class="header">


<!-- START EXPLORING PERFORMANCE OF CONFEDERATIONS ACCROSS THE YEARS -->
<div class="header">
    <h2> How is the performance of the FIFA confederations across the years?</h2>
    <br />
    <div class="container px-4 text-center">
      <div class="row gx-5">
        <div class="col">
         <div class="p-3 border bg-light">

                <h5>Futbol continues to develop in Asia and Africa</h5>
                <h7>Select Metric:</h7>
                <select id="select5"></select>
                <br /><br />
                <div id="chart3"></div>

         </div>
        </div>
      </div>

      <div class="row gx-5">
        <div class="col">
         <div class="p-3 border bg-light">

          
              <h5>However, Asia and Africa have declined performance in the last world cups</h5>
              <h7>Select Confederation:</h7>
              <select id="select6"></select>
              <br /><br />

              <div id="chart3a"></div>


         </div>
        </div>
      </div>  

    </div>
  </div>
<!-- END OF EXPLORING CONFEDERATION PERFORMANCE ACROSS YEARS -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

 
    <!-- <script type="text/javascript" src="../static/js/script.js"></script> -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="../static/js/wc.js"></script>
    <script src="../static/js/fifa.js"></script>
    <script src="../static/js/vars.js"></script>
    <!-- <script src="../static/js/script.js"></script> -->
    <script src="../static/js/wcconf1.js"></script>
    <script src="../static/js/style1.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
